%header.app-bar.promote-layer
  .app-bar-container
    %button.menu
      %img{:alt => "Menu", :src => "assets/img/hamburger.svg"}/
    %h1.logo
      Web
      %strong Starter Kit
    %section.app-bar-actions
      / Put App Bar Buttons Here
      / e.g <button><i class="icon icon-star"></i></button>
      
%nav.navdrawer-container.promote-layer
  %h4 Navigation
  %ul
    %li
      %a{:href => "#hello"} Hello
    %li
      %a{:href => "#get-started"} Get Started
    %li
      %a{:href => "styleguide.html"} Style Guide