%meta{:charset => "utf-8"}/
%meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
%meta{:content => "A front-end template that helps you build fast, modern mobile web apps.", :name => "description"}
%meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}

/ Add to homescreen for Chrome on Android
%meta{:content => "yes", :name => "mobile-web-app-capable"}
%link{:href => "img/touch/chrome-touch-icon-192x192.png", :rel => "icon", :sizes => "192x192"}

/ Add to homescreen for Safari on iOS
%meta{:content => "yes", :name => "apple-mobile-web-app-capable"}
%meta{:content => "black", :name => "apple-mobile-web-app-status-bar-style"}
%meta{:content => "Web Starter Kit", :name => "apple-mobile-web-app-title"}
%link{:href => "apple-touch-icon-precomposed.png", :rel => "apple-touch-icon-precomposed"}

/ Tile icon for Win8 (144x144 + tile color)
%meta{:content => "img/touch/ms-touch-icon-144x144-precomposed.png", :name => "msapplication-TileImage"}
%meta{:content => "#3372DF", :name => "msapplication-TileColor"}